<div *ngIf="parentObject != null; else elseBlock"><a routerLink="/objects/{{parentObject.objectId}}">{{parentObject.name}}</a>
</div>
<ng-template #elseBlock>Top</ng-template>
<div *ngIf="currentObject">
  <p>
    Current Object: {{currentObject.name}}
  </p>
</div>
<div *ngIf="childrenObjects != null">
  <ul class="childrenObjects">
    <li *ngFor="let child of childrenObjects">
      <a routerLink="/objects/{{child.objectId}}">{{child.name}}</a>
      <button (click)="delete(child)">
        X
      </button>
    </li>
  </ul>
</div>
<div *ngIf="currentObject">
  <p>
    <a routerLink="/objects/{{currentObject.objectId}}/create">New child</a>
  </p>
  <app-object-type [currentObject]="currentObject"></app-object-type>
  <app-object-parameters [currentObject]="currentObject"></app-object-parameters>
</div>
