table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid;
}

#object-types{
  height: 50px;
  padding: 20px;
  width: 30%;
  border: 2px solid;
}

#attributes{
  height: 50px;
  padding: 20px;
  width: 70%;
  border: 2px solid;
}

