<div *ngIf="currentObjectType">
  <p>
    {{currentObjectType.objectTypeId}} {{currentObjectType.name}}
  </p>
  <ul class="attributes">
    <li *ngFor="let attribute of attributes"
        [class.selected]="attribute === currentAttribute"
        (click)="onSelect(attribute)">
      <span class="badge">{{attribute.name}}</span>
      <button (click)="delete(attribute)">
        X
      </button>
    </li>
  </ul>
  <div *ngIf="currentAttribute">
    <p>{{currentAttribute.attrId}} {{currentAttribute.name}} {{currentAttribute.objectTypeId}}</p>
  </div>
  <p>
    <a routerLink="attribute/{{currentObjectType.objectTypeId}}/create">Add attribute</a>
  </p>
</div>

